body {
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    margin: 0cm;
    color: #1a1a1a;
}

/*footer and header are seperate*/
.pitchfork-footer {
    background-color: black;
    color: #fff;
    text-align: center;
}

.pitchfork-logo {
    background-color: black;
    color: #fff;
    text-align: center;
}

/*had to add a class to the image because it wasn't targetting the image it was targeting the header*/
.rock-hall-of-fame-2024 {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.pitchfork-logo {
    width: 100%;
    padding-top: 8px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news {
    display: inline-block;
    text-transform: uppercase;
    font-size: .85rem;
    border-bottom: 2px solid #ff3530;
}


figcaption,
.sub-title,
.date, 
.author,
h2 {
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    font-style: normal;
}

.ul-title { 
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.date {
    font-size: 0.85rem;
    margin-bottom: 0rem;
}

.author { 
    font-size: 0.85rem;
    margin-bottom: 0rem;
}
/*cannor get the font size and margin to show up- work on that, i changed the div class in the html file for the date and author and i change it for the font family for open sans*/

figure {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

figcaption {
    font-size: 0.75rem;
    text-align: center;
    color: #757575;
    font-style: italic;
}

ul {
    list-style: none;
    padding-left: 0%;
}

p a {
    color: #1a1a1a;
    text-decoration: underline;
    
}

p a:hover {
    text-decoration: none;
    color: #ff3530;
}